{% extends "base_template.html" %}

{% block content %}

<!-- The navbar itself is not in the base template, because I highlight the currently selected page, and I can't do this with a template--> 
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('go_to_index') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('go_to_catalogue') }}">Catalogue</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#!">Contact Us</a>
                    </li>
                </ul>

                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('go_to_login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('go_to_login') }}">Register</a>
                    </li>

                </ul>
            </div>

        </div>

    </div>

    <section>

        <div class="text-center container py-3 px-5 px-lg-2 mx-md-auto">
            <h1 class="fw-light">Get In Touch</h1>
            <p class="fs-5 fw-light">Have a question, request, or any feedback? <br>Let us know in the form below</p>
        </div>
    
        <div class="col-12 col-md-4 offset-md-4 px-md-5 px-3">

            <div class="card card-body bg-light py-3 px-3">

                <div class="dropdown mb-2" style="background-color: rgb(252, 255, 255);">
                    <button class="btn btn-outline-secondary dropdown-toggle w-100" role="button" id="inquiryDropdown"
                    data-bs-toggle="dropdown" aria-expanded="false">
                        Type of inquiry
                    </button>
                
                    <ul class="dropdown-menu" aria-labelledby="inquiryDropdown">
                        <li><button class="dropdown-item" type="button" onclick="showGenre(this)">Question</button></li>
                        <li><button class="dropdown-item" type="button" onclick="showGenre(this)">Request</button></li>
                        <li><button class="dropdown-item" type="button" onclick="showGenre(this)">Feedback</button></li>
                    </ul>
                </div>

                <input class="form-control mb-2" style="border-color:rgb(70, 70, 70);" type="text" placeholder="Name" aria-label="Enter name">

                <textarea class="form-label mb-3" placeholder="Your message here" aria-label="Message entry area"></textarea>

                <button class="btn btn-secondary btn-outline-success" type="submit" style="color:aliceblue; border-color: darkgray;"
                placeholder="Submit" aria-label="Search">Submit</button>

            </div>

        </div>

    </section>

 {% endblock %}