{% extends "base_template.html" %}

{% block content %}

<!-- The navbar itself is not in the base template, because I highlight the currently selected page, and I can't do this with a template--> 
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#!">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('go_to_catalogue') }}">Catalogue</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('go_to_contact') }}">Contact Us</a>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('go_to_login') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('go_to_register') }}">Register</a>
                </li>

            </ul>
        </div>

    </div>

</div>

<section class="container text-left py-4">

    <div class="row my-2 ">
        <div class="col-6 offset-3 px-auto">
            <h1 class="fw-light">Greetings {{ name }}</h1>
        </div>
    </div>

    <div class="row py-2">
        <div class="ps-4 ps-md-0 col-7 col-md-4 offset-md-3 my-auto">
            <h1 class="fw-light">Track your books</h1>
            <p class="lead text-muted">Keep track of all your loaned books, return dates, and overdue fees</p>
        </div>

        <div class="pe-4 ps-md-0 col-5 col-md-2">
            <img src="{{ url_for('static', filename = 'assets/stack_of_books.png') }}" class="img-fluid" alt="Stack of books"/>
        </div>
    </div>

    <div class="row py-2">
        
        <div class="col-12 col-md-8 offset-md-2 py-2">
            <img src="{{ url_for('static', filename = 'assets/bookshelves.png') }}" class="img-fluid px-3 col-7 col-md-12" alt="Bookshelves" style="max-width: 360px; float:left;"/>
            <h1 class="fw-light">Explore our catalogue</h1>
            <p class="lead text-muted px-2">See what books we have, browse through new additions.
                Track currently unavailable books, and see what people liked</p>
        </div>

    </div>

    <div class="d-flex pt-2 justify-content-center">
        <a href="{{ url_for('go_to_register') }}" class="btn btn-primary py-3 px-3 mx-1">Get Started</a>
        <a href="{{ url_for('go_to_login') }}" class="btn btn-secondary py-3 px-3 mx-1">Log In</a>
    </div>

</section>

{% endblock %}