{% extends "base_template.html" %}

{% block content %}

<!-- The navbar itself is not in the base template, because I highlight the currently selected page, and I can't do this with a template--> 
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index_name', name = name) }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('go_to_catalogue_name', name = name) }}">Catalogue</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('go_to_contact_name', name = name) }}">Contact Us</a>
                    </li>
                </ul>

                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#!">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('go_to_register_name', name = name) }}">Register</a>
                    </li>

                </ul>
            </div>

        </div>

        

    </div>

    <section class="col-12 col-md-4 offset-md-4 justify-content-center">

        <div class="text-center container pt-3 px-5 px-lg-2 mx-md-auto">
            <h1 class="fw-light">Login</h1>
        </div>

        <form class="py-2 px-md-5 px-4">

            <div class="mb-3">
                <label for="exampleDropdownFormEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="enterEmailLogin" placeholder="email@example.com">
            </div>

            <div class="mb-3">
                <label for="exampleDropdownFormPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="enterPasswordLogin" placeholder="Password">
            </div>

            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="dropdownCheck">
                <label class="form-check-label" for="dropdownCheck">
                    Remember me
                </label>
            </div>

            <button type="submit" class="btn btn-primary">Log in</button>

    </section>

{% endblock %}